[submodule "software/cura/Source"]
	path = software/cura/Source
	url = https://code.alephobjects.com/diffusion/CURA/cura.git
[submodule "documentation/Manual/Source"]
	path = documentation/Manual/Source
	url = https://code.alephobjects.com/diffusion/MD/mini-docs.git
[submodule "software/print-profiles"]
	path = software/print-profiles
	url = https://code.alephobjects.com/diffusion/P/print-profiles.git
[submodule "software/slic3r/source"]
	path = software/slic3r/source
	url = https://github.com/alexrj/Slic3r.git
[submodule "production_parts/Electronics/mini-Rambo/Source"]
	path = production_parts/Electronics/mini-Rambo/Source
	url = https://github.com/johnnyr/Mini-Rambo.git
[submodule "software/firmware/Marlin_Gladiola_v1.1.0.8_900d3ad"]
	path = software/firmware/Marlin_Gladiola_v1.1.0.8_900d3ad
	url = ssh://git@code.alephobjects.com/diffusion/MARLIN/marlin.git
